.pv {
  background-image: url("https://1.bp.blogspot.com/-KR5XQsWhIFs/YKaAwreY_GI/AAAAAAAACjI/Q1UgREznge8NsZPXOraQjMWvlxyRhEdYgCNcBGAsYHQ/s1420/01.jpg");
  background-color: #cccccc;
  height: 1420px;
  width: 950px;"
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-top:30px;
  border-radius: 7px;
  border: 1px solid #cccccc;
}
.pv2 {
  background-image: url("https://1.bp.blogspot.com/-pNKRErp0qvo/YKaAwoD5qLI/AAAAAAAACjA/-ZpmIAB2bYwgsQkrcn_b3BcAU2an-zbZgCNcBGAsYHQ/s1420/02.jpg");
  background-color: #cccccc;
  height: 1420px;
  width: 950px;"
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-top:30px;
  border-radius: 7px;
  border: 1px solid #cccccc;
}